@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "GarnettRegular-Regular";
  src: url("assets/fonts/Garnett-Regular.woff") format("woff");
} */

@font-face {
  font-family: "GarnettRegular-Regular";
  src: url("assets/fonts/KronaOne-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Larken-Regular";
  src: url("assets/fonts/Larken-Regular.woff") format("woff");
}



body {
  font-family: GarnettRegular-Regular, sans-serif;
  overflow-x: hidden;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Larken-Regular, sans-serif;
}

.cursive {
  font-size: 11vw;
  line-height: 9vw;
  font-family: Larken-Regular, sans-serif;
}

.no-cursive {
  font-family: GarnettRegular-Regular, sans-serif;
}

.cursive-default {
  font-family: Larken-Regular, sans-serif;
}
